@font-face {
    font-family: 'cairoregular';
    src: url('../fonts/cairo-regular-webfont.woff2') format('woff2'),
         url('../fonts/cairo-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  
  }

  *{
    font-family: 'cairoregular';  
  }